<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>DripEexamWeb</title>
    <%= favicon_pack_tag 'media/images/logo.png', rel: 'shortcut icon', type: 'image/png' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
    <script>
      function Drip () {};
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
